<form [formGroup]="form">
    <ul>
        <li>Fecha: {{ConvertirFecha(turnoRecibido?.fecha) | date:'medium' }} </li>
        <li>Especialidad: {{turnoRecibido?.especialidad}}</li>
        <li>Paciente: {{turnoRecibido?.paciente}}</li>
        <li>Profesional: {{turnoRecibido?.profesional}}</li>
    </ul>

    <div class="form-group mb-3 mt-3">
        <label for="resena">Resena cancelacion</label>
        <textarea class="form-control" id="resena" formControlName="resena" rows="3" required></textarea>
    </div>

    <p>Realmente desea cancelar el turno?</p>

    <button class="btn btn-primary" (click)="CancelarTurno()">Si</button>
    <button class="btn btn-secondary">No</button>
</form>