<mat-card>
    <mat-card-content>
      <section class="example-section">
        <label class="example-margin">Tipo:</label>
        <mat-radio-group [(ngModel)]="dinamicType">
            <mat-radio-button class="example-margin" value="slider">Control de rango numerico</mat-radio-button>
            <mat-radio-button class="example-margin" value="numero">Cuadro de texto numerico</mat-radio-button>
            <mat-radio-button class="example-margin" value="toggle">Switch</mat-radio-button>
        </mat-radio-group>
      </section>
    </mat-card-content>
</mat-card>  