<div [@slideAnimation]="estadoActual">



<div>
    <!-- FILTROS -->
    <div class="accordion accordion-flush" id="accordionFiltros" *ngIf="usuario?.perfil == 'administrador'">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFiltros" aria-expanded="false" aria-controls="flush-collapseFiltros">
            Mostrar filtros
          </button>
        </h2>
        <div id="flush-collapseFiltros" class="accordion-collapse collapse" data-bs-parent="#accordionFiltros">
          <div class="accordion-body">
  
            <div class="">
              <!-- FILTRO POR PACIENTES -->
              <div class="accordion accordion-flush" id="accordionPacientes">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapsePacientes" aria-expanded="false"
                      aria-controls="flush-collapsePacientes">
                      Pacientes
                    </button>
                  </h2>
                  <div id="flush-collapsePacientes" class="accordion-collapse collapse"
                    data-bs-parent="#accordionPacientes">
                    <div class="accordion-body">
                      <button class="badge bg-primary m-2"
                        *ngFor="let usuario of usuarios | async | obtenerTodosLosPacientes: 'paciente'"
                        (click)="ObtenerPacienteSeleccionado(usuario)">{{usuario}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END FILTRO POR PACIENTES -->
  
              <!-- FILTRO FECHA -->
              <!-- <div class="accordion accordion-flush" id="accordionFechas" *ngIf="usuario?.perfil == 'paciente'">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFechas" aria-expanded="false"
                      aria-controls="flush-collapseFechas">
                      Fecha
                    </button>
                  </h2>
                  <div id="flush-collapseFechas" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFechas">
                    <div class="accordion-body">
                      <button class="badge bg-primary m-2"
                        *ngFor="let fecha of turnos | obtenerFechasTurnos: usuario?.mail : ''"
                        (click)="ObtenerFechaSeleccionada(fecha)">{{GetFormattedDate(fecha)}}</button>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- END FILTRO POR FECHA -->
          </div>
        </div>
      </div>
    </div>
    <!-- END FILTROS -->
  </div>

<div class="card text-center">
    <!-- <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <button class="nav-link active">Especialidad</button>
            </li>
            <li class="nav-item">
                <button class="nav-link">Profesional</button>
            </li>
            <li class="nav-item">
                <button class="nav-link">Horario</button>
            </li>
        </ul>
    </div> -->


    <div class="card-body" *ngIf="visualizarEspecialidades">
      <div class="row">
          <div class="card col-sm-3" *ngFor="let especialidadDelTurno of turnos | async | especialidadesDisponibles: especialidades : 'Disponible' "
              (click)="ObtenerValorEspecialidad(especialidadDelTurno)">
              <button class="nav-link" >
                  <span class="align-text-bottom"></span>                 
                 <img class="mx-auto d-block rounded-circle"  src="../../../assets/img/especialidaes default.jpg" alt="Card image cap" width="200" height="200">
                 <img class="mx-auto d-block rounded-circle"  alt="Card image cap" width="200" height="200">
                </button>
              
              <!-- <h5 class="card-title">{{especialidad.nombre}}</h5> -->
              <!-- <img class="mx-auto d-block rounded-circle" src="../../../assets/img/especialidades-medicas.jpg" alt="Card image cap" width="300" height="300"> -->
          </div>
      </div>
  </div>
    <div *ngIf="especialidadSeleccionada != '' && visualizarProfesionales ">
        <div class="card-body">
            <div class="row">
                <div class="card col-sm-3" *ngFor="let usuario of usuarios | async | filtroUsuarios: especialidadSeleccionada "
                    (click)="ObtenerValorProfesional(usuario.mail)">
                    <button class="nav-link" >
                        <span class="align-text-bottom"></span>
                    <img class="mx-auto d-block rounded-circle" *ngIf="usuario?.imagenPerfil1.length == 0" src="../../../assets/img/doctor.png" alt="Card image cap" width="200" height="200">
                    <img class="mx-auto d-block rounded-circle" *ngIf="usuario?.imagenPerfil1.length > 0" src="{{usuario?.imagenPerfil1}}" alt="Card image cap" width="200" height="200">
                    <h5 class="card-title">{{usuario?.nombre}} {{usuario.apellido}}</h5>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
<div *ngIf="profesionalSeleccionado != '' && visualizarFechasDisponibles">
        <div class="card-body">
            <div class="row">                
                <div class="card col-sm-3" *ngFor="let fecha of turnos | async | filtroTurnos: especialidadSeleccionada : profesionalSeleccionado : 'Disponible' : '' | obtenerFechasTurnos: '' : '' "
                    (click)="ObtenerValorFechaSeleccionada(fecha)">
                    <h5 class="card-title">{{GetFormattedDate(fecha)}}</h5>
                    <button class="nav-link" >
                        <span class="align-text-bottom"></span>
                    <img class="card-img-top" src="../../../assets/img/almanaque.png" alt="Card image cap" width="200" height="200">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="profesionalSeleccionado != '' && visualizarTurnos">
        <div class="card-body">
            <div class="row">
                
                <div class="card col-sm-3" *ngFor="let item of turnos | async | filtroTurnos: especialidadSeleccionada : profesionalSeleccionado : 'Disponible' : fechaSeleccionada "
                    (click)="ObtenerTurnoSeleccionado(item)">
                    <h5 class="card-title">{{ConvertirFecha(item?.fecha)}}</h5>
                    <button class="nav-link" >
                        <span class="align-text-bottom"></span>
                    <img class="card-img-top" src="../../../assets/img/turno-medico.jpg" alt="Card image cap">
                    </button>
                </div>

            </div>
        </div>
    </div>

  </div>