<app-nav *ngIf="isLogged" ></app-nav>

<div class="container mt-5">
    <swiper-container>
        <swiper-slide class="d-flex justify-content-center align-items-center">
            <div class="chart-1 col-6">
                <div class="card text-black bg-light bg-gradient">
                    <div class="card-body">
                        <h5 class="card-title">{{title1}}</h5>
                        <app-chart [data]="data1" [chartsLabels]="chartsLabels1" [title]="title1" [type]="type1"
                            [chartSelector]="chartSelector1" [dateProperty]="datePropertyFalse">
                        </app-chart>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="d-flex justify-content-center align-items-center">
            <div class="chart-2 col-6">
                <div class="card text-black bg-light bg-gradient">
                    <div class="card-body">
                        <h5 class="card-title">{{title2}}</h5>
                        <app-chart [data]="data2" [chartsLabels]="chartsLabels2" [title]="title2" [type]="type2"
                            [chartSelector]="chartSelector2" [dateProperty]="datePropertyTrue"
                            (dateRangeSelected)="ActualizarGrafico2($event)">
                        </app-chart>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="d-flex justify-content-center align-items-center">
            <div class="chart-3 col-6">
                <div class="card text-black bg-light bg-gradient">
                    <div class="card-body">
                        <h5 class="card-title">{{title3}}</h5>
                        <app-chart [data]="data3" [chartsLabels]="chartsLabels3" [title]="title3" [type]="type3"
                            [chartSelector]="chartSelector3" [dateProperty]="datePropertyTrue"
                            (dateRangeSelected)="ActualizarGrafico3($event)">
                        </app-chart>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="d-flex justify-content-center align-items-center">
            <div class="chart-4 col-6">
                <div class="card text-black bg-light bg-gradient">
                    <div class="card-body">
                        <h5 class="card-title">{{title4}}</h5>
                        <app-chart [data]="data4" [chartsLabels]="chartsLabels4" [title]="title4" [type]="type4"
                            [chartSelector]="chartSelector4" [dateProperty]="datePropertyFalse">
                        </app-chart>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="d-flex justify-content-center align-items-center">
            <div class="chart-5 col-6">
                <div class="card text-black bg-light bg-gradient">
                    <div class="card-body">
                        <h5 class="card-title">{{title5}}</h5>
                            <app-chart (userSelected)="onUserSelected($event)" [data]="data5"
                            [chartsLabels]="chartsLabels5" [title]="title5" [type]="type5"
                            [chartSelector]="chartSelector5" [dateProperty]="datePropertyFalse">
                        </app-chart>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="d-flex justify-content-center align-items-center">
            <div class="chart-6 col-6">
                <div class="card text-black bg-light bg-gradient">
                    <div class="card-body">
                        <h5 class="card-title">{{title6}}</h5>
                        <app-chart [data]="data6" [chartsLabels]="chartsLabels6" [title]="title6" [type]="type6"
                            [chartSelector]="chartSelector6" [dateProperty]="datePropertyFalse">
                        </app-chart>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</div>  
