<div class="chart-container" style="min-height:14dvw; width:auto; position: relative;">

  <form [formGroup]="form">
    <ng-container *ngIf="dateProperty">
      <div class="row">
        <div class="col-4">
          <input type="date" class="form-control date-input"  formControlName="desde" value="2024-02-27" min="2023-12-01" max="2024-12-31" />
        </div>
        <div class="col-4">
          <input type="date" class="form-control date-input"  formControlName="hasta" value="2024-08-01" min="2023-12-01" max="2024-12-31" />        
        </div>
        <div class="col-4">
          <button class="btn btn-primary" (click)="onDateChange()">Actualizar</button>
        </div>
      </div>
    </ng-container>
  </form>

  <canvas ngChartjs [datasets]="lineChartData" [labels]="chartsLabels" [options]="lineChartOptions"
    [legend]="lineChartLegend" [chartType]="lineChartType" [inlinePlugins]="inlinePlugin">
  </canvas>
  <div class="d-grid gap-2">
    <button class="btn btn-primary descargar-btn" (click)="DescargarPDF(chartSelector, title)">Descargar</button>
  </div>
</div>
