<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Dni</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Mail</th>
                <th scope="col">Perfil</th>
                <th scope="col">Habilitado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios | usuariosProfesionales" >
                <td>{{usuario.dni}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.mail}}</td>
                <td>{{usuario.perfil}}</td>
                <td>{{usuario.habilitado}}</td>
                <td><button class="btn {{usuario.habilitado == true ? 'btn-danger' : 'btn-primary'}}" (click)="CambiarEstado(usuario)">{{usuario.habilitado ? "Desactivar" : "Activar"}}</button></td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <ng-container *ngIf="usuario?.perfil == 'paciente'"> -->
    <!-- <app-tabla-historias-clinicas></app-tabla-historias-clinicas> -->
<!-- </ng-container> -->

<div class="row justify-content-center m-2">
    <button class="btn btn-primary col-4" (click)="DescargarExcel()">Descargar un excel</button>
</div>
<div class="row justify-content-center m-2">
    <button class="btn btn-primary col-4" (click)="DescargarPDF()">Descargar un PDF</button>
</div>
<div class="row justify-content-center m-2">
    <button class="btn btn-primary col-4" (click)="RegistrarUsuarioAdministrador()">RegistrarUsuario</button>
</div>
    
    



<app-formulario-registro *ngIf="formularioRegistrarUsuarioVisible" [perfilRecibido]="'Administrador'"></app-formulario-registro>
