<div [@slideAnimation]="estadoActual">
<form [formGroup]="form">
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex align-items-center mt-5">
                <img class="rounded-circle mt-5 m-3" width="150px"
                    src={{usuario?.imagenPerfil1}}>
                <img class="rounded-circle mt-5 m-3" width="150px"
                    src={{usuario?.imagenPerfil2}}>
            </div>
            <div class="d-flex justify-content-center">
                <span class="font-weight-bold">{{usuario?.nombre}}</span>                
            </div>
            <div class="d-flex justify-content-center">
                <span class="text-black-50">{{usuario?.mail}}</span>

            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 py-5">
                <div class="d-flex align-items-center mb-3">
                    <h4 class="text-right">Mi perfil</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Nombre</label>
                        <input type="text" class="form-control" id="nombre" value="{{usuario?.nombre}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Apellido</label>
                        <input type="text" class="form-control" value="{{usuario?.apellido}}" readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" value="{{usuario?.mail}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="labels">Dni</label>
                        <input type="text" class="form-control" value="{{usuario?.dni}}" readonly>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="labels">Edad</label>
                        <input type="text" class="form-control" value="{{usuario?.edad}}" readonly>
                    </div>
                    <div class="col-md-6" *ngIf="usuario?.perfil == 'paciente'">
                        <label class="labels">Obra social</label>
                        <input type="text" class="form-control" value="{{usuario?.obraSocial}}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- mis horarios PROFESIONAL: Marca su disponibilidad horaria -->

<!-- historia clinica PACIENTES: ve su historia clinica -->
<ng-container *ngIf="usuario?.perfil == 'paciente'">
    <app-tabla-historias-clinicas></app-tabla-historias-clinicas>
</ng-container>

<ng-container *ngIf="usuario?.perfil == 'profesional'">
    <app-grilla-horarios></app-grilla-horarios>
</ng-container>
</div>