<h1 class="title">Resultado Encuesta</h1>
<p><em>Eficiencia para obtener turno:</em> {{turnoRecibido.encuesta.eficiencia_obtener_turno}}</p>
<p><em>Facilidad de uso:</em> {{turnoRecibido.encuesta.facilidad_uso}}</p>
<p><em>Nivel de recomendación plataforma:</em> {{turnoRecibido.encuesta.eficiencia_obtener_turno}}</p>

<div class="row m-3">
    <div class="d-flex align-items-end flex-column">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    </div>
</div>
