
<!-- <span class="badge bg-success m-2" *ngFor="let paciente of turnos | async | obtenerPacientes: usuario?.mail" onclick="ObtenerPacienteSeleccionado()">{{paciente}}</span>  -->
<!-- <span class="badge bg-success m-2" *ngFor="let paciente of turnos | async | obtenerPacientes: usuario?.mail" onclick="ObtenerPacienteSeleccionado()">{{paciente}}</span>  -->

<ng-container *ngIf="usuario?.perfil == 'profesional'">
    <h1>Seleccione paciente</h1>
    <button class="badge bg-success m-2" *ngFor="let paciente of turnos | async | obtenerPacientes: usuario?.mail : '0' : false" (click)="ObtenerPacienteSeleccionado(paciente)">{{paciente}}</button>
</ng-container>

<ng-container *ngIf="usuario?.perfil == 'paciente'">
    <h1>Seleccione profesional</h1>
    <button class="badge bg-success m-2" *ngFor="let profesional of turnos | async | obtenerProfesionalPaciente: usuario?.mail" (click)="ObtenerProfesionalSeleccionado(profesional)">{{profesional}}</button>
</ng-container>


<!-- NO LO PIDE De los usuarios del sistema, this.usuarios, pasar un perfil. Paciente o profesional -->
<!-- <ng-container *ngIf="usuario?.perfil == 'administrador'">
    <h1>Seleccione paciente o profesional</h1>


    <button class="badge bg-success m-2" *ngFor="let profesional of usuarios | async | filtroTurnosPaciente: '' : usuario?.mail :'0'" (click)="ObtenerProfesionalSeleccionado(profesional)">{{profesional}}</button>
    <button class="badge bg-success m-2" *ngFor="let paciente of usuarios | async | filtroTurnosPaciente: usuario?.mail : '' : '0' " (click)="ObtenerPacienteSeleccionado(paciente)">{{paciente}}</button>
</ng-container> -->

<div class="container text-center">
    <h1>Historias clinicas</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Profesional</th>
            <th scope="col">Paciente</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="usuario?.perfil == 'profesional' && pacienteSeleccionado!= '' ">
            <tr *ngFor="let turno of turnos  | async | filtroTurnosPaciente: pacienteSeleccionado : usuario?.mail : '4' : true | customNg2Search:searchText">
                <td>{{ ConvertirFecha(turno.fecha) | date:'medium' }}</td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.profesional}}</td>
                <td>{{turno.paciente}}</td>
                <td>{{turno.estado | estadoTurnos}}</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="turno.estado == 4" (click)="AbrirModal('historia-clinica', turno)">Historia clinica</button></td>
            </tr>
        </ng-container>

        <ng-container *ngIf="usuario?.perfil == 'paciente' && profesionalSeleccionado!= '' ">
            <tr *ngFor="let turno of turnos  | async | filtroTurnosPaciente: usuario?.mail : profesionalSeleccionado : '4' : true | customNg2Search:searchText">
                <td>{{ ConvertirFecha(turno.fecha) | date:'medium' }}</td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.profesional}}</td>
                <td>{{turno.paciente}}</td>
                <td>{{turno.estado | estadoTurnos}}</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="turno.estado == 4" (click)="AbrirModal('historia-clinica', turno)">Historia clinica</button></td>
            </tr>
        </ng-container>

        <ng-container *ngIf="usuario?.perfil == 'administrador' && (profesionalSeleccionado!= '' || pacienteSeleccionado!= '') ">
            <tr *ngFor="let turno of turnos  | async | filtroTurnosPaciente: pacienteSeleccionado : profesionalSeleccionado : '4' : true | customNg2Search:searchText">
                <td>{{ ConvertirFecha(turno.fecha) | date:'medium' }}</td>
                <td>{{turno.especialidad}}</td>
                <td>{{turno.profesional}}</td>
                <td>{{turno.paciente}}</td>
                <td>{{turno.estado | estadoTurnos}}</td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="turno.estado == 4" (click)="AbrirModal('historia-clinica', turno)">Historia clinica</button></td>
            </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <app-historia-clinica [turnoRecibido]="turno" *ngIf="formularioSeleccionado == 'historia-clinica'"></app-historia-clinica>          
        </div>
      </div>
    </div>
  </div>

  <!-- <span class="badge bg-success m-2" *ngFor="let turno of turnos  | async | filtroTurnosPaciente: usuario?.mail : '' : '0'">{{turno?.paciente}}</span> --> 
  