<nav class="navbar navbar-expand-lg navbar-light nav-color">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="home">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Turnos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="solicitar-turno">Solicitar Turno</a></li>
            <li><a class="dropdown-item"href="grilla-turnos">Ver Turnos</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calendario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="grilla-horarios">Ver Horarios</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="mi-perfil">Mis Datos</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="usuarios">Ver Usuarios</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Historias Clinicas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="historias-clinicas">Ver Historia Clinica</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Graficos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="graficos">Graficos</a></li>
            <li><a class="dropdown-item" href="informes">Informes</a></li>
          </ul>
        </li>
      </ul>

    <div class="d-flex" *ngIf="idioma">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          
          <a href="#" id="imageDropdown2" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{idioma_src}}" alt="Dropdown Image" class="rounded-circle" width="40" height="40">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="imageDropdown2">
            <li><a class="dropdown-item" (click)="cambiarIdioma('espanol')">Espanol</a></li>
            <li><a class="dropdown-item" (click)="cambiarIdioma('ingles')">Ingles</a></li>
            <li><a class="dropdown-item" (click)="cambiarIdioma('portugues')">Portuges</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" id="imageDropdown1" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" alt="Dropdown Image" class="rounded-circle" width="40" height="40">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="imageDropdown1">
            <li><a class="dropdown-item" href="mi-perfil">Mi Perfil</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="SignOut()">Cerrar sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>
</div>
</nav>