<div [@slideAnimation]="estadoActual">

<app-grilla-horarios [visualizarBotonConfirmar] = "false"></app-grilla-horarios>

<section class="get-in-touch">
    <h2 class="title">Gestionar horarios</h2>
    <form class="contact-form row" [formGroup]="form">
        <label class="form-label select-label">Seleccione su especialidad</label>
        <select class="select" formControlName="especialidad" id="especialidad">
            <option *ngFor="let item of especialidades | async" value={{item?.nombre}}>{{item?.nombre}}</option>
        </select>

        <label class="form-label select-label">Seleccione dia</label>
        <select class="select" formControlName="dias" id="dias" multiple size="3">
            <option *ngFor="let item of valorDias" value={{item?.valor}}>{{item?.clave}}</option>
        </select>

        <label class="form-label select-label">Inicio</label>
        <select class="form-select" formControlName="hora_inicio" id="hora_inicio">
            <option value="8">08:00</option>
            <option value="9">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
        </select>

        <label class="form-label select-label">Fin</label>
        <select class="form-select" formControlName="hora_fin" id="hora_fin">
            <option value="8">08:00</option>
            <option value="9">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
        </select>

        <label class="form-label select-label">Duracion minutos</label>
        <select class="form-select" formControlName="duracion" id="duracion">
            <option value="30">30 min</option>
            <option value="60">60 min</option>
            <option value="90">90 min</option>
            <option value="120">120 min</option>
        </select>


        <div class="row">
            <div class="col-lg-4 mt-4">
                <input class="btn btn-primary" (click)="ModificarDisponibilidad()" value="Modificar Disponibilidad">
            </div>
        </div>
    </form>
</section>
</div>