
<div *ngIf="visible == true" class="captcha-container p-4">
    <div class="captcha-letters text-center">
        <span *ngFor="let captcha of captchaText" class="captcha-letter">{{captcha}}</span>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <input class="form-control" type="text" [(ngModel)]="this.captchaEntered" maxlength="5" class="">
            </div>
        </div>    
    </div> 
    <div class="form-group">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary m-2 w-50" (click)="ValidateCaptcha()">Validar</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary m-2 w-50" (click)="GenerateCaptcha()">Refrescar</button>
            </div>
        </div>

    </div>
</div>