<form [formGroup]="form">
    <ul>
        <li>Fecha: {{ConvertirFecha(turnoRecibido?.fecha) | date:'medium' }} </li>
        <li>Especialidad: {{turnoRecibido?.especialidad}}</li>
        <li>Paciente: {{turnoRecibido?.paciente}}</li>
    </ul>

    <div class="form-group mb-3 mt-3">
        <label for="resena">Reseña rechazo</label>
        <textarea class="form-control" id="resena" formControlName="resena" rows="3" required></textarea>
    </div>

    <p>Realmente desea rechazar el turno?</p>

 <td><button class="btn btn-primary" data-bs-dismiss="modal" (click)="RechazarTurno()">Si</button></td>
   <td> <button class="btn btn-secondary" data-bs-dismiss="modal">No</button></td>
</form>