<!-- <div *ngIf="attributeValue == 'Profesional' || attributeValue == 'Paciente' "> -->
<div class="container">
  <div class="row" appOcultarElementos *ngIf="usuario?.perfil == 'administrador' ">
    <app-image-component (onEnviarItemHaciaPadre)="recibirItemDesdeHijo($event)" imageValue="recepcion.png"
      atributeValue="Administrador" style="width: 100%;"></app-image-component>
  </div>
  <div class="row" appOcultarElementos *ngIf="usuario?.perfil != 'administrador' ">
    <app-image-component (onEnviarItemHaciaPadre)="recibirItemDesdeHijo($event)" imageValue="doctor.png"
      atributeValue="Profesional" style="width: 50%;"></app-image-component>
    <app-image-component (onEnviarItemHaciaPadre)="recibirItemDesdeHijo($event)" imageValue="patient.png"
      atributeValue="Paciente" style="width: 50%;"></app-image-component>
  </div>

  <app-formulario-registro [perfilRecibido]="attributeValue" [emailRecibido]="emailRecibido"></app-formulario-registro>
  <!-- </div> -->