<!-- <div *ngIf="attributeValue == 'Profesional' || attributeValue == 'Paciente' "> -->
<div class="container">
  <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div> 
  <div class="row" appOcultarElementos *ngIf="currentUser?.perfil != 'administrador' ">
    <app-image-component (onEnviarItemHaciaPadre)="recibirItemDesdeHijo($event)" imageValue="doctor.png"
      atributeValue="Profesional" style="width: 50%;"></app-image-component>
    <app-image-component (onEnviarItemHaciaPadre)="recibirItemDesdeHijo($event)" imageValue="patient.png"
      atributeValue="Paciente" style="width: 50%;"></app-image-component>
  </div>

  <app-formulario-registro [perfilRecibido]="attributeValue" [emailRecibido]="emailRecibido"></app-formulario-registro>
  <!-- </div> -->