<app-nav (messageEvent)="receiveMessage($event)" [onlyLanguage]="onlyLanguage" [languageEnabled]="languageEnabled"></app-nav>
<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

            <form [formGroup]="form">
                <!-- <img class="mb-4" src="../../../assets/img/doctor.png" alt="" width="72" height="57"> -->
                <h1 class="my-5 display-5 fw-bold ls-tight">
                    {{'login.Titulo' | translate}}<br />
                </h1>
                <h1 class="h3 mb-3 fw-normal">{{'login.IniciarSesion' | translate}}</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" formControlName="email"
                        placeholder="name@example.com">
                    <label for="floatingInput">{{'login.Email' | translate}}</label>

                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" formControlName="password"
                        placeholder="Password">
                    <label for="password">{{'login.Contrasena' | translate}}</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> {{'login.Recuerdame' | translate}}
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" (click)="SignIn()">{{'login.IniciarSesion' | translate}}</button>
                <button type="button" class="w-100 btn btn-lg btn-primary mb-3" routerLink="/registro">{{'login.Registrarse' | translate}}</button>
            </form>
        </div>


        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5 mt-5">
                    <form [formGroup]="form">
                        <!-- <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pr1 text-left" (click)="AccesoRapido('prof.musicoterapia@yopmail.com','asdasd')">Prof Musicoterapia</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pr2 text-left" (click)="AccesoRapido('prof.kinesiologia@yopmail.com','asdasd')">Prof Kinesiologo</button> -->
                        <!-- <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pa1 text-left" (click)="AccesoRapido('pac.juangomez@yopmail.com','asdasd')">Pac Juan Gomez</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pa2 text-left" (click)="AccesoRapido('pac.tomassalvemini@yopmail.com','asdasd')">Pac Tomas Salvemini</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pa3 text-left" (click)="AccesoRapido('pac.pedrorodriguez@yopmail.com','asdasd')">Pac Pedro Rodriguez</button> -->
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pr2 text-left" (click)="AccesoRapido('prof.kinesiologia@yopmail.com','asdasd')">Prof Kinesiologo</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pr1 text-left" (click)="AccesoRapido('prof.musicoterapia@yopmail.com','asdasd')">Prof Musicoterapia</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pa1 text-left" (click)="AccesoRapido('pac.uno@yopmail.com','asdasd')">Pac Uno</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-pa1 text-left" (click)="AccesoRapido('pac.dos@yopmail.com','asdasd')">Pac Dos</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3 button-with-bg-ad1 text-left" (click)="AccesoRapido('admin.brunosalvemini@yopmail.com','asdasd')">Admin Bruno Salvemini</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>