<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">

            <form [formGroup]="form">
                <!-- <img class="mb-4" src="../../../assets/img/doctor.png" alt="" width="72" height="57"> -->
                <h1 class="my-5 display-5 fw-bold ls-tight">
                    Clinica MATCRES <br />
                </h1>
                <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" formControlName="email"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email</label>

                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" formControlName="password"
                        placeholder="Password">
                    <label for="password">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" (click)="SignIn()">Iniciar
                    sesion</button>
                <button type="button" class="w-100 btn btn-lg btn-primary mb-3" routerLink="/registro">Registrar
                    cuenta
                </button>
            </form>
        </div>


        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                    <form [formGroup]="form">
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3" (click)="AccesoRapido('prof.musicoterapia@yopmail.com','asdasd')">Prof Musicoterapia</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3" (click)="AccesoRapido('prof.kinesiologia@yopmail.com','asdasd')">Prof Kinesiologo</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3" (click)="AccesoRapido('pac.juangomez@yopmail.com','asdasd')">Pac Juan Gomez</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3" (click)="AccesoRapido('pac.tomassalvemini@yopmail.com','asdasd')">Pac Tomas Salvemini</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3" (click)="AccesoRapido('pac.pedrorodriguez@yopmail.com','asdasd')">Pac Pedro Rodriguez</button>
                        <button type="button" class="w-100 btn btn-lg btn-secondary mb-3" (click)="AccesoRapido('admin.brunosalvemini@yopmail.com','asdasd')">Admin Bruno Salvemini</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <footer class="container ">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Contacto</h5>
                    <ul class=" text-small">
                        <li>
                            <div class="label">Teléfono: 4444-5555</div>
                        </li>
                        <li>
                            <div class="label">Correo Electrónico: matcres@clinica.com.ar</div>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Ubicacion</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <div class="label"> Republica del Libano 5 - Quilmes</div>
                        </li>
                        <li>
                            <div class="label">CP: 1888</div>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>